{# same “active” var #}
<div class="mobile-menu">
    <a href="{% url 'planner:dashboard' %}"
       class="mobile-menu-item {% if active == 'dashboard' %}active{% endif %}">
        <span class="icon">🏡</span>
        <span class="label">Dashboard</span>
    </a>

    <a href="{% url 'planner:calendar' %}"
       class="mobile-menu-item {% if active == 'calendar' %}active{% endif %}">
        <span class="icon">🗓️</span>
        <span class="label">Calendar</span>
    </a>

    <a href="{% url 'planner:files' %}"
       class="mobile-menu-item {% if active == 'files' %}active{% endif %}">
        <span class="icon">🌷</span>
        <span class="label">Files</span>
    </a>

    <a href=""
       class="mobile-menu-item">
        <span class="icon">👋🏻</span>
        <span class="label">Logout</span>
    </a>
</div>
